.App {
  min-width: 300px;
  align-content: center;
  text-align: center;
}


.header {
  background-color: white;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 4vw;
  color: black;
}

.body {
  display: inline-block;
  width: 60vw;
  height: 60vw;
  border: solid black 3px;
  padding: 5vw 5vw;
  max-width: 300px;
  max-height: 300px;

}


.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.3vw;
  color: grey;

}

#websiteLink {
  padding-left: 5px;
  padding-right: 5px;
  color: pink;
  font-style: italic;
}

#websiteLink:hover {
  color: orange;
}

#goodMorningPotd {
  display: block;
  margin: auto;
  width: 45vw;
  height: 45vw;
  padding: 5px 5px;
  max-width: 300px;
  max-height: 300px;
  align-self: center;
}

.textOnImg {
  font-size: 3vw;
  color:white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
