.App {
  min-width: 300px;
  align-content: center;
  text-align: center;
}


.header {
  background-color: white;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 4vw;
  color: black;
}

.body {
  display: inline-block;
  width: 60vw;
  height: 60vw;
  border: solid black 3px;
  padding: 5vh 5vh;
}


.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.3vw;
  color: grey;

}

#websiteLink {
  padding-left: 5px;
  padding-right: 5px;
  color: pink;
}

#websiteLink:hover {
  color: orange;
}

#goodMorningPotd {
  width: 45vw;
  height: 45vw;
  padding: 3vw 3vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
